root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }
  :root {
    --font-color: "#212121";
    --second-color: "#757575";
    --third-color: "#2196f3";
  }
.container {
  width: 1170px;
  padding: 0 215px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.logo-secound {
  color: #000;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
}  
.header-link:hover {
  color: #2196f3;
}
.header-contacts_list {
  display: flex;
  gap: 40px;
  font-size: 14px;
}

.header-contacts_link {
  color: #757575;
}
.header-contacts_link:hover {
  color: #2196f3;
}
.header-contacts_link::before {
  display: inline-block;

}
.hero {
  background-image: url("../img/main-background.png");
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  
}
.hero-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
padding: 9.83px 31.97px;

}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  width: 696px;
  padding-bottom: 30px;
}

.hero-order {
  padding-top: 30px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 32px;
}
.ditails {
  padding: 94px 0;
}
.ditails-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.ditails-iteam:nth-child(1):before {
  content: "";
  display: block;
  background-image: url("../img/radar.png");
  width: 270px;
  height: 120px;
}
.ditails-iteam:nth-child(2):before {
  content: "";
  display: block;
  background-image: url("../img/clocer.png");
  width: 270px;
  height: 120px;
} 
.ditails-iteam:nth-child(3):before {
  content: "";
  display: block;
  background-image: url("../img/biznes.png");
  width: 270px;
  height: 120px;
} 
.ditails-iteam:nth-child(4):before {
  content: "";
  display: block;
  background-image: url("../img/spacenator.png");
  width: 270px;
  height: 120px;
}  
.ditails-subtitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;

}
a {
    color: #2196f3;
    text-decoration: none;
}
.ditails-text {
  font-size: 14px;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  display: flex;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;  
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

}

.work-list {
  display: flex;
  gap: 30px;
  justify-content: center;  
}


.team {
 
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team-title {
  display: flex;
  font-size: 36px;
  text-align: center;
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
  padding-top: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-iteam {
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2),
              0 1px 1px rgba(0, 0, 0, 0.14),
              0 1px 3px rgba(0, 0, 0, 0.12);
}
.team-iteam:nth-of-type(1) {
  top: 186px;
  left: 215px;
}

.team-iteam:nth-of-type(2) {
  top: 186px;
  left: 515px;
}

.team-iteam:nth-of-type(3) {
  top: 186px;
  left: 815px;
}
.team-iteam:nth-of-type(4) {
  top: 186px;
  left: 1115px;
}


.team-img {
  width: 100%;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  padding: 16px;
}

.team-work {
  font-size: 16px;
  color: #757575;
  padding-bottom: 16px;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #2F303A;
  padding: 60px 0;
}
.fl {
  padding-top: 60px;
  padding-bottom: 20px;
}
.logo-seecound {
  color: #ffffff;
}
.partfolio-button-list {
  display: flex;
  flex-direction: row;
  padding-left: 297px;
  padding-top: 94px;
  gap: 8px;
}
.portfolio-button {
  padding: 10px 24px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.portfolio-button:hover {
  background-color: #2196f3;
  color: #fff;
}

.partfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 34px;
}

.partfolio-item {
  border: 1px solid #eee;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  width: 370px;
  height: 404px;
}

.partfolio-item:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

.partfolio-img {
  display: block;
}

.portfolio-subtitle {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;

}

.portfolio-discription {
  font-size: 16px;
  color: #757575;
  padding-left: 24px;

}
h2 {
  display: flex;
  justify-self: center;
}
h1 {
  display: flex;
  justify-self: center;
}
