:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }
  :root {
    --prime-color: #212121;
    --text-color: #757575;
    --link-color: #2196f3;
    --secoundlogo-color: #000000;
    --headerborder-color: #ECECEC;
    --subtext-color: #2f303a; 
    --iconsbg-color: #F5F4FA;
  }
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
  
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--link-color);
  padding-right: 93px;
  letter-spacing: 0.03em;
}

.logo-secound {
  color: var(--secoundlogo-color);
}

.header-list {
  display: flex;
  gap: 50px;

}

.header-link {
  font-weight: 500;
  color: var(--prime-color);
  letter-spacing: 0.02em;
}  
.header-link:hover {
  color: var(--link-color);
}
.header-contacts_list {
  display: flex;
  gap: 50px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts_link {
  color: var(--text-color);
  letter-spacing: 0.02em;
}
.header-contacts_link:hover {
  color: var(--link-color);
}
.header-contacts_link::before {
  display: inline-block;

}
.hero {
  background-color: var(--prime-color);
  color: var(--iconsbg-color);
  text-align: center;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)  
    ),
    url("../img/main-background.png");
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 30px;
  line-height: 1.36;
letter-spacing: 0.06em;
  width: 696px  
}

.hero-order {
  font-family: var(--font-family);
  background-color: var(--link-color);
  color: var(--iconsbg-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
padding: 9.83px 31.97px;
line-height: 1.87;
letter-spacing: 0.06em;
}
.ditails {
  padding: 94px 0;
}
.ditails-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.ditails-iteam::before {
  content: "";
  display: block;
  background-color: var(--iconsbg-color);
  background-position: center;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
}
.ditails-iteam:nth-child(1):before {
  background-image: url("../img/radar.png");
}
.ditails-iteam:nth-child(2):before {
  background-image: url("../img/clocer.png");
} 
.ditails-iteam:nth-child(3):before {
  background-image: url("../img/biznes.png");
} 
.ditails-iteam:nth-child(4):before {
  background-image: url("../img/spacenator.png");
}  
.ditails-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--prime-color);
  padding-top: 30px;
  padding-bottom: 10px;

}
a {
    color: var(--link-color);
    text-decoration: none;
}
.ditails-text {
  color: var(--text-color);
  line-height: 171%;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  display: flex;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;  
  text-align: center;
  color: var(--prime-color);
  padding-bottom: 50px;
  

}

.work-list {
  display: flex;
  gap: 30px;
  justify-content: center;  
}


.team {
 
  background-color: var(--iconsbg-color);
  padding: 94px 0;
}

.team-title {
  display: flex;
  font-size: 36px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--prime-color);
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-iteam {
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2),
              0 1px 1px rgba(0, 0, 0, 0.14),
              0 1px 3px rgba(0, 0, 0, 0.12);
}


.team-img {
  width: 100%;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--prime-color);
  padding: 16px;
}

.team-work {
  font-size: 16px;
  color: var(--text-color);
  padding-bottom: 16px;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--prime-color);
  padding: 60px 0;
}
.footer-logo {
  padding-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--link-color);
}
.footer-item {
  font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
font-family: var(--font-family);
}
.foote-address {
  color: var(--iconsbg-color);
  padding-top: 20px;
}

.index-email {
  color: rgba(255, 255, 255, 0.6);;
}
.index-number {
  color: rgba(255, 255, 255, 0.6);
}
.logo-seecound {
  color: var(--iconsbg-color);
}
.partfolio {
  padding: 94px 0;
}
.partfolio-button-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-self: center;
}
.portfolio-button {
  padding: 6px 22px;
  border: 1px solid var(--iconsbg-color);
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  
}

.portfolio-button:hover {
  background-color: var(--link-color);
  color: var(--iconsbg-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.partfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
}

.partfolio-item {
  flex-basis: calc((100% - 60px)/3);
  border: 1px solid var(--iconsbg-color);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.partfolio-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.partfolio-img {
  display: block;
  width: 100%;
}

.portfolio-subtitle {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  line-height: 200%;
letter-spacing: 0.06em;

}

.portfolio-discription {
  font-size: 16px;
  color: var(--text-color);
  padding-left: 24px;
  line-height: 1.87;
padding-top: 4px;
  padding-bottom: 20px;

}
h2 {
  display: flex;
  justify-self: center;
}
h1 {
  display: flex;
  justify-self: center;
}
